@font-face{
    font-family:brushwell;
    src: url("Brushwell.otf");
}
@font-face{
    font-family:cinzel;
    src: url("CinzelDecorative-Regular.ttf")
}
@font-face{
    font-family:geisharush;
    src:url("geisharush.ttf")
}